.navbar-nav a{
font-size: 20px;
}
@media screen and (max-width: 500px){
    .logo{
        display: none;
    }
    .navbar-nav{
        flex-direction: inline-block;
        height: auto;
    }
    .nav-item:nth-child(1){
        border-top: 1px solid rgba(255, 255, 255, 0.555);
        margin-top: 50px;
    }
    .items {
        width: 100%;
        border-top: 1px solid rgba(255, 255, 255, 0.555);
        text-align: center;
        margin-right: 0px;
        display: grid;
        padding: 20px 0;
    }
    .btn {
        display: block;
        background-color: rgb(157, 5, 5);
        border: 1px solid rgb(157, 5, 5);
    }

}